@{
    ViewBag.Title = "Giới thiệu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Chào mừng bạn đến với Nhà sách của Huy - Nơi cung cấp các loại truyện tranh đa dạng và phong phú nhất.</p>
<p>Chúng tôi cam kết mang đến cho bạn những cuốn truyện chất lượng với giá cả hợp lý.</p>
