@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Nhà sách của Huy</strong><br />
    Hà Nội, Việt Nam<br />
    <abbr title="Phone">P:</abbr>
    0974 869 355
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@sachwuy.vn">Support@sachwuy.vn</a><br />
    <strong>Kinh doanh:</strong> <a href="mailto:Sales@sachwuy.vn">Sales@sachwuy.vn</a>
</address>
